#data-container {
    width: 90%;
    position: fixed;
    z-index: 1;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.2s;
    height: 0px;
}


#add-gliph {
    position: absolute;
    right: 10px;
    top: 10px;
}

span {
    font-size: 100%;
    color: black;
}

.panel {
    height: 100%;
}

h1 {
    font-size: 20px;
    margin: 0px !important;
    padding-bottom: 10px;
}

h2{
    font-size: 15px !important;
    padding-top: 7px;
}

button {
    background-image: none !important;
}

.fc-list-view {
    border: none !important;
    padding: 0 !important;
}

td {
    border: none !important;
}

tr:first-child td {
    border-radius: 5px 5px 0px 0px;
}

#calendar {
    width: 90% !important;
    margin: 0 auto !important;
    padding-bottom: 8px;
    transition: display .2s;
}

.fc-scroller {
    height: 100% !important;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: black !important;
}


.label-data {
    width: 100%;
    font-size: 20px;
    display: block;
    color: white;
}

#panel-data {
    width: 95%;
    border-radius: 10px;
    margin: 5% auto;
    text-align: center;
    color: white;
    height: 85%;
}


.caldata {
    padding: 10px;
    background-color: #22232a;
    border-radius: 45px;
    font-size: 15px;
    border: none;
    width: 95%;
    text-align: left;
    margin: 0px auto;
    color: #fff;
    display: block;
}

.data-buttons {
    width: 32%;
    display: inline;
    color: white;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    border-radius: 15px;
    box-shadow: none;
    border: none;
    margin-top: 10px;
}

#ModalEventDetailsComplete {
    background: #3366ff;
}
#ModalEventDetailsDelete{
    background: gray;
}
#cancel {
    background: #009900;
}