#add-gliph {
    position: absolute;
    right: 10px;
    top: 10px;
}

span {
    font-size: 100%;
    color: black;
}

.panel {
    height: 100%;
}

h1 {
    font-size: 20px;
    margin: 0px !important;
    padding-bottom: 10px;
}

h2{
    font-size: 15px !important;
    padding-top: 7px;
}

button {
    background-image: none !important;
}

.fc-list-view {
    border: none !important;
    padding: 0 !important;
}

td {
    border: none !important;
}

tr:first-child td {
    border-radius: 5px 5px 0px 0px;
}

.calendar-container {
    width: 90% !important;
    margin: 0 auto !important;
}

.fc-scroller {
    height: 100% !important;
}

