html, body {
    margin:0;
    height: 100%;
    overflow: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom right, #009900, #3366ff);
    overflow: auto;
}

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.2s;
    width:0;
}

    .sidenav a {
        display: block;
        transition: 0.2s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    #close {
        float:right;
        font-size: 12px;
        margin-left: 5px;
        margin-bottom: 5px;
        color:white;
    }

#main {
    transition: margin-left .2s;
    padding: 6px;
    overflow: visible;
    position: fixed;
    width:100%;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.topnavigation {
    height: 10%;
    width: 100%;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}

.navigation{
    height:20%;
    width:100%;
    display:block;
    text-align: center;
}

.botnavigation {
    height: 10%;
    width: 100%;
    display: block;
    bottom: 10px;
    padding-right: 15px;
}

#navlogo {
    float:left;
    max-width: 200px;
    height: 50%;
    max-height: 200px;
    top: 20%;
}

#nav-gliph {
    top:10px;
    left:10px;
    position:absolute;
}

#logout {
    bottom: 10px;
    right: 10px;
    position: absolute;
    color: white;
}

#userpic {
    color:white;
}

#logouttext {
    font-size: 10px;
    color: white;
    padding-left: 2px;
}