html, body {
    margin:0;
    height: 100%;
    overflow: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom right, #009900, #3366ff);
    overflow: auto;
}

#sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.2s;
    width:0;
}

    #sidenav a {
        display: block;
        transition: 0.2s;
    }

        #sidenav a:hover {
            color: #f1f1f1;
        }

    #close {
        float:right;
        font-size: 12px;
        margin-left: 5px;
        margin-bottom: 5px;
        color:white;
    }

#main {
    transition: margin-left .2s;
    padding: 6px;
    overflow: visible;
    position: fixed;
    width:100%;
}

@media screen and (max-height: 450px) {
    #sidenav {
        padding-top: 15px;
    }

        #sidenav a {
            font-size: 18px;
        }
}

#nav-gliph {
    top:10px;
    left:10px;
    position:absolute;
}

#logout {
    bottom: 10px;
    right: 10px;
    position: absolute;
    color: white;
}

#userpic {
    color:white;
}

#logouttext {
    font-size: 10px;
    color: white;
    padding-left: 2px;
}

.glyphicon {
    font-size: 2em;
}

.panel {
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 10px 10px black;
    background: #141519;
    margin: 15% auto;
    text-align: center;
    color: white;
}

    .panel select {
        padding: 10px;
        background-color: #22232a;
        border-radius: 45px;
        font-size: 15px;
        border: none;
        width: 95%;
        text-align: left;
        margin: 0px auto;
        margin-bottom: 10px;
        color: #fff;
    }

    .panel h1 {
        margin: 10px;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

    .panel input {
        padding: 10px;
        background-color: #22232a;
        border-radius: 45px;
        font-size: 15px;
        border: none;
        width: 95%;
        text-align: left;
        margin: 0px auto;
        margin-bottom: 10px;
        color: #fff;
    }

    .panel .submit {
        width: 95%;
        background-color: #8bc34a;
        border-radius: 45px;
        position: relative;
        line-height: 25px;
        text-align: center;
        font-weight: bold;
        color: white;
        margin: 0px auto;
        cursor: pointer;
        border: 0px;
        margin-bottom: 5px;
    }

        .panel .submit:active {
            transform: translateY(2px);
        }

        .panel .submit:hover {
            background-color: #599b2d;
        }