
input {
    outline: none;
}


.panel {
    width: 90%;
    height: 70%;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    background: #141519;
    margin: 50px auto;
    text-align: center;
    vertical-align: middle;
}

    .panel .state {
        margin-top: 5px;
        width: 100%;
        color: white;
        font-size: 20px;
    }

    .panel .login {
        width: 80%;
        background-color: #8bc34a;
        border-radius: 45px;
        text-align: center;
        font-weight: bold;
        color: white;
        margin: 0px auto;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .panel input {
        background-color: #22232a;
        border-radius: 45px;
        font-size: 15px;
        border: none;
        width: 80%;
        text-align: left;
        margin: 0px auto;
        margin-bottom: 10px;
        padding-left: 20px;
    }

#logo {
    height: 65%;
    position: relative;
    top: 20%
}

.state {
    height: 35%;
}

